body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-image: url(pexels-supreet-8060364.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
  }
  
  .top-navbar {
    background-color: #ffffff00;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-item {
    text-decoration: none;
    color: #000000;
    margin-right: 100px;
    margin-left: 40px;
    margin-top: 40px;
    filter: invert();
    font-size: 120%;
    font-variant:small-caps;
  }

  .navbar-item:hover {
    text-decoration: none;
    color: #5f5f5f;
    margin-right: 100px;
    margin-left: 40px;
    margin-top: 40px;
    filter: invert();
    font-size: 120%;
    font-variant:small-caps;
  }
  
  .navbar-right {
    display: flex;
  }
  

  .header-section {
    position: relative;
  }
  
  .header-image {
    width: 5%;

  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }
  
  .header-title {
    margin-top: 235%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 4px;
  }


  h4 {
    margin-left: 55%;

  }


  p {
      margin-left: 55%;
      
  }
  p1 {
      font-size: smaller;
      font-variant: small-caps;
  }

  h5 {
      text-align: center;
      font-size: 200%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: 100;
      padding-top: 2%;
      margin-top: 0%;
      color: #191b24;
  }

  .footer-section {
    text-align: center;
    padding: 17px 0;
    background-color: #bdbdbd;
    color: #ffffff;
    margin-top: 5%;
    position: flex;
  }
  
  .footer-text {
    font-size: 100%;
    text-align: center;
  }
  

  .container {
    margin-top: 48%;
    padding-top: 0.7%;
    display: flex;
    align-items: center; 
}

  .container2 {
    margin-top: 2%;
    display: flex;
    align-items: center; 
}

  .container3 {
    display: flex;
    align-items: center; 
    margin-top: 2%;
    margin-bottom: 2.5%;
}

  .container5 {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 7%;

  }

  .container11 {
    background-color: rgb(190, 190, 190);
    padding-bottom: 8%;
  }


  .image {
    width: 900px; 
    height: auto; 
    margin-right: -50%; 
    margin-left: -3.5%;
  }

  

  .image2 {
    width: 900px; 
    height: auto; 
     
  }

  .image3 {
    width: 900px; 
    height: auto; 
    margin-right: -50%; 
    margin-left: -3.5%;
  }

  .image10 {
    width: 70%;
    height: auto;
    margin-left: 15%;

  }

  .text {
    margin-top: 0%;
    font-size: 15px; 
    margin-right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  .text2 {
    margin-top: 0%;
    font-size: 15px; 
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

  button {
    margin-top: 5%;
    border: #5f5f5f00;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    background-color: #12090400;
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  button:hover {
    color: #752626;
    margin-top: 5%;
    border: #5f5f5f00;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    background-color: #12090400;
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  article {
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: rgb(190, 190, 190);
    
  }
